<main class="d-flex vh-100">
  <!-- Sidebar Section -->
  <aside class="bg-light p-3 border-end" style="width: 300px;">
    <h3>Map Configuration</h3>
    <div class="form-group">
      <label for="rows">Rows</label>
      <input
        [(ngModel)]="configuration.rows"
        class="form-control mb-2"
        id="rows"
        placeholder="Enter number of rows"
        aria-label="rows"
        type="number"
        min="1">

      <label for="columns">Columns</label>
      <input
        [(ngModel)]="configuration.columns"
        class="form-control mb-2"
        id="columns"
        placeholder="Enter number of columns"
        aria-label="columns"
        type="number"
        min="1">

      <label for="speed" class="form-label">Speed</label>
      <input
        type="range"
        [(ngModel)]="configuration.speed"
        class="form-range"
        id="speed"
        min="0"
        max="5000"
        step="100"
        value="500"
        (input)="onSliderChange()">
      <div class="d-flex justify-content-between text-muted">
        <span>Min: 0</span>
        <span>Max: 5s</span>
      </div>
      <div class="my-2">
        <span>Current Speed: {{ configuration.speed / 1000 }}s</span>
      </div>
      <div class="d-flex align-items-center mb-3">
        <label class="me-3">Algorithm</label>
        <div ngbDropdown class="d-inline-block">
          <button
            type="button"
            class="btn btn-outline-dark"
            id="algorithm"
            ngbDropdownToggle>
            {{configuration.Algorithm}}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="changeAlgorithm('Dijkstra')">Dijkstra</button>
            <button ngbDropdownItem (click)="changeAlgorithm('Astar')">A*</button>
          </div>
        </div>
      </div>

      <button
        class="btn btn-outline-dark w-100 mb-3"
        (click)="updateMap()">Update Map
      </button>

      <h3>Controls</h3>
      <div class="d-flex align-items-center mb-3">
        <label class="me-3">Selecting Mode:</label>
        <div ngbDropdown class="d-inline-block">
          <button
            type="button"
            class="btn btn-outline-dark"
            id="dropdownBasic1"
            ngbDropdownToggle>
            {{ mode }}
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="changeMode(CellTypes.Source)">Source</button>
            <button ngbDropdownItem (click)="changeMode(CellTypes.Target)">Target</button>
            <button ngbDropdownItem (click)="changeMode(CellTypes.Empty)">Empty</button>
            <button ngbDropdownItem (click)="changeMode(CellTypes.Block)">Block</button>
          </div>
        </div>
      </div>

      <button
        class="btn btn-dark w-100"
        (click)="find()"> Find Path
      </button>
    </div>
  </aside>

  <!-- Main Map Section -->
  <section class="flex-grow-1 d-flex justify-content-center align-items-center bg-light">
    <app-map [map]="map" [mode]="mode"></app-map>
  </section>
</main>

